services:
  xampp:
    build:
      context: .
      dockerfile: docker/Dockerfile.xampp
    volumes:
      - ./app:/var/www/html
    ports:
      - "8081:80"

  nginx:
    build:
      context: .
      dockerfile: docker/Dockerfile.nginx
    volumes:
      - ./app:/var/www/html
    ports:
      - "8082:80"

  benchmark:
    build:
      context: .
      dockerfile: docker/Dockerfile.benchmark
    depends_on:
      - xampp
      - nginx
    volumes:
      - ./results:/results
    environment:
      URL_XAMPP: http://xampp/
      URL_NGINX: http://nginx/
      DURATION: 10s
      CONNECTIONS: "50"
      THREADS: "2"
      ITER: "10000"
